html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 90%;
    margin: auto;
    background-color:rgb(227, 224, 224) ;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.card {
    width: 300px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin: 10px 2%;
    padding: 10px;
    vertical-align: top;
    background-color: white;
    overflow: hidden;
  }
  
  .product-info {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    
  }
  .product-info img {
      width:  50%;
      height: 100px;
      object-fit: fill;
  }
  .product-info .product-title {
    flex-grow: 1;
  }
  .price-rating-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    justify-items: center;
  }
  
  .price-rating-container h3 {
    margin: 10px 0;
  }
  .clickBtn{
    
    cursor: pointer;
    color: rgb(0, 145, 255);
  }
.list-cat{
    width: 95%;
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    background-color: white;
    cursor: pointer;
    margin: auto;
}
.list-cat li{
    padding: 20px;
}
.list-cat li:focus{
    background-color: rgb(227, 224, 224);
}